#fotos{
    display: flex;
    flex-wrap: wrap;
    
}

span{
    display: inline-block;
    margin: 5px;
}

mat-icon{
    top: 10px;
}

#fotos li{
    margin: 10px;
    list-style-type: none;
}

#fotos li img{
    width: 220px;
    height: 220px;
}